html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "user") Username:
            input(name = "user")
         br
         div
            label(for = "password") Password:
            input(name = "password" type="password")
         br
         button(type = "submit") Login